.content {

  margin: 0 auto;
  padding: 100px 0;
  width: 80%;

  &__about {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @include _900 {
      grid-template-columns: 1fr;
    }
  }

  &__section {
    max-width: 500px;

    &-title {
      color: $basic-blue;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 16px;
    }

    &-p {
      margin-bottom: 30px;
    }

    &-slogan,
    &-assurance {
      font-weight: 700;
    }
  }
}
