.gallery {

  @include h2 (&);

  &__img {
    height: 256px;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;

    @include _640 {
      height: 131px;
    }
  }

  &__lable {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;

    @include _640 {
      margin-bottom: 32px;
    }
  }

  &__blue-lable {
    color: $basic-blue;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
  }

  &__block-1 {
    @extend %gallery-block;
    grid-template-columns: 2fr 1fr;
  }

  &__block-2 {
    @extend %gallery-block;
    grid-template-columns: 1fr 1fr;
  }

  &__block-3 {
    @extend %gallery-block;
    grid-template-columns: 1fr 2fr;
  }

  @media (max-width: 640px) {
    &__block-1,
    &__block-2,
    &__block-3 {
      grid-template-columns: 1fr 1fr;
      margin-bottom: 16px;
    }
  }

  &__button {
    display: block;
    width: 154px;
    height: 56px;
    text-align: center;
    line-height: 56px;
    text-decoration: none;
    color: $basic-blue;
    font-size: 16px;
    font-weight: 700;
    background-color: $basic-white;
    border: 2px solid $basic-blue;
    border-radius: 8px;
    margin: 0 auto;
    transition: background-color 1s, color 1s;

    &:hover {
      background-color: $hover-blue;
      border: 2px solid $hover-blue;
      color: $basic-white;
      box-shadow: $button-shadow;
    }
  }
}
