.header {
  overflow-x: hidden;
  position: relative;
  height: 100vh;
  background-image: url(../images/header.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-weight: 500;
  padding-top: 25px;

  &__top {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(80px, 1fr));
    justify-items: center;
    align-items: center;
    
    color: $basic-white;
  }

  &__menu {
    justify-self: start;

    &-toggler:before {
      display: block;
      content: "";
      background-image: url("../images/icons/menu.svg");
      background-size: 24px 24px;
      height: 24px;
      width: 24px;
      transition: background-image 0.2s;
    }
  
    &-toggler:hover:before {
      display: block;
      content: "";
      background-image: url("../images/icons/menu-hover.svg");
      background-size: 24px 24px;
      height: 24px;
      width: 24px;
    }
  }

  &__phone {
    justify-self: end;

    &-button {
      display: block;
      width: 24px;
      height: 24px;
      background-image: url("../images/icons/phone.svg");
      background-size: 24px 24px;
      background-repeat: no-repeat;
      text-decoration: none;
      font-size: 12px;
      font-weight: 700;
      color: $basic-white;
      transition: content 2s;

      &::before {
        position: relative;
        right: 300px;
        top: 6px;
        z-index: -1;
        white-space: nowrap;
        content: "+1 234 555-55-55";
        transition: right 1s, z-index 1s;
      }
  
      &:hover:before {
        z-index: 0;
        right: 110px;

        @include _640 {
          right: 300px;
          z-index: -1;
        }
      }
    }
  }

  

  &__title {
    position: absolute;
    bottom: 50px;
    color: $basic-white;
    font-size: 80px;
    line-height: 80px;
    font-weight: 700;

    @include _640 {
      left: 20px;
      font-size: 46px;
      line-height: 40px;
    }
  }

  &__title::before {
    content: "";
    position: relative;
    bottom: 24px;
    display: block;
    background-color: $basic-white;
    width: 40px;
    height: 2px;
    border-radius: 1px;

  }
}
