
.menu {
  position: absolute;
  top: 0;
  margin: 0;
  right: 100vw;
  width: 100%;
  height: 100vh;
  z-index: -1;
  padding: 25px 0;
  background-color: $basic-blue;
  transition: right 1s, z-index 0.5s;

  &__wrapper {
    margin: 0 auto;
    width: 80%;
    max-width: 1260px;
    display: grid;
    grid-template-columns: repeat(3, minmax(80px, 1fr));
  }

  &--move {
    right: 0;
    z-index: 0;
  }

  &__logo {
    justify-self: center;
  }
}
